.homeCategories {
  display: flex;
  flex-direction: column;

  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.01em;
    margin-bottom: 22px;
  }

  &__categories {
    display: flex;
    gap: 30px;
    flex-wrap: wrap ;

    &__item {
      width: 200px;
      display: flex;
      flex-direction: column;
      background: #ffffff;
      border: 1px solid #cccccc;

      &__img {
        > img {
          width: 100%;
          height: 100%;
        }
      }

      &__description {
        font-size: 16px;
        line-height: 19px;
        margin: 17px 0 10px 20px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .homeCategories__categories__item {
    width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .homeCategories__categories__item {
    width: 200px;
  }
}

@media screen and (max-width: 426px) {
  .homeCategories {
    &__text {
      font-size: 10px;
      line-height: 14px;
    }

    &__categories {
      justify-content: space-between;
      gap: 15px;

      @media screen and (max-width: 320px) {
        justify-content: center;
      }

      &__item {
        width: 159px;
        height: 135px;

        &__img {
          height: 84px;
        }

        &__description {
          font-size: 8px;
          line-height: 10px;
          margin: 9px 0 31px 10px;
        }
      }
    }
  }
}
