.homeSection {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: 70px;

    &__categories__news {
        display: flex;
        gap: 30px;
        font-weight: 500;
    }
}

@media screen and (max-width: 1024px) {
    .homeSection{
        margin-left: 50px;
    }
}

@media screen and (max-width: 1024px) {
    .homeSection{
        margin-left: 0;

        &__categories__news {
            display: none;
        }
    }
}