.path__box {
  display: flex;
  justify-content: flex-end;
  gap: 3px;
  position: absolute;
  right: 0px;
  top: -47px;
  
  @media screen and (max-width: 768px) {
    top: -19px;
    font-size: 9px;
  }
}

.path {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #9f9f9f;


  &>span {
    color: #000;
    font-weight: 700;
  }
}

.rest {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #9f9f9f;
}