.path {
  position: absolute;
  top: -35px;
  right: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #9f9f9f;

  @media screen and (max-width: 768px) {
    top: -19px;
    font-size: 9px;
  }

  & > span {
    color: #000;
    font-weight: 700;
  }
}
