.manufacturerPage {
    display: flex;
    gap: 40px;

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        padding: 20px 0;

        @media screen and (max-width: 376px) {
            justify-content: center;
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 1rem;
            margin-right: 1rem;
            border: 5px solid transparent;
            padding: 0 10px;
            background: #ffffff;
            height: 170px;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                border: 5px solid #16CED4;
            }

            &__img {
                width: 110px;
            }
        }
    }
}