.header {
  display: flex;
  flex-direction: column;

  &__up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 225px;
    background: #f1f1f1;

    &__burger {
      display: flex;
      align-items: center;
      gap: 13px;

      &__burgerMenu {
        width: 45px;
        height: 45px;
        cursor: pointer;
        display: none;

        @media screen and (max-width: 768px) {
          width: 40px;
          height: 40px;
        }

        >img {
          width: 100%;
          height: 100%;
        }
      }
      &__logo {
        @media screen and (max-width: 768px) {
          width: 85px;

          &>a>img {
            width: 100%;
          }
        }

      }
    }

    &__right {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__input {
        position: relative;
        width: 406px;
        margin-right: 76px;

        &__text {
          width: 100%;
          background: #ffffff;
          padding: 8px 14px;
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
        }
      }

      &__basket {
        position: relative;

        .circle {
          width: 25px;
          height: 25px;
          position: absolute;
          background-color: red;
          right: -12px;
          top: -10px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
       
          @media screen and (max-width: 426px) {
            width: 17px;
            height: 17px;
            font-size: 11px;
            line-height: 17px;
            top: -5px;
            right: -5px;
            font-size: 10px;
          }
        }


        &:hover &__hoverBox {
          display: flex;
        }

        &__hoverBox {
          position: absolute;
          width: 110px;
          height: 45px;
          background: #ffffff;
          border-radius: 3.89189px;
          bottom: -47px;
          left: -70px;
          font-size: 12px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          display: none;

          @media screen and (max-width: 768px) {
            bottom: 0px;
            left: -115px;
          }

          // @media screen and (max-width: 426px) {
          //   width: 77px;
          //   height: 38px;
          //   font-size: 11px;
          //   bottom: -51px;
          //   left: -51px;
          // }

          &__pcs {
            font-weight: 300;
            font-size: 12.973px;
            line-height: 15px;
          }

          &__price {
            font-weight: 600;
            font-size: 12.973px;
            line-height: 15px;
          }

          &::before {
            content: "";
            position: absolute;
            top: -24px;
            left: 73%;
            color: white;
            width: 0px;
            height: 0px;
            border: 14px solid #ffffff;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            border-top: 10px solid transparent;

            @media screen and (max-width: 768px) {
              top: 8px;
              left: auto;
              right: -12px;
              border-right: 14px solid transparent;
              border-left: 0px;
            }
          }
        }
      }
    }
  }

  &__down {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    background: #16ced4bf;
    gap: 40px;

    &__item {
      text-decoration: none;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.01em;
      padding: 7px 0;
      color: #ffffff;

      &:hover {
        color: #000000;
      }
    }
  }
}

.is-active {
  color: #000000;
}

@media screen and (max-width: 1024px) {
  .header__up {
    padding: 20px 100px;

    &__burger__burgerMenu {
      display: block;
    }

    &__right__input {
      width: 286px;
      margin-right: 30px;
    }
  }

  .header__down__item {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .header__up {
    padding: 20px 40px;

    &__right__input {
      display: none;
    }

    &__contact__logo {
      width: 100px;
    }
  }

  .header__down {
    padding: 20px;

    &__item {
      display: none;
    }
  }
}

@media screen and (max-width: 426px) {
  .header__up {
    padding: 11px 17px;

    &__burger__burgerMenu {
      width: 24px;
      height: 24px;
    }

    &__burger__logo {
      width: 56px;

      >a>img {
        width: 100%;
      }
    }

    &__right__basket {
      width: 35px;

      >a>img {
        width: 100%;
      }
    }
  }

  .header__down {
    padding: 14px;
  }
}