.makeAnOrder {
    display: flex;
    flex-direction: column;

    .makeAnOrder__up {
        display: flex;
        gap: 40px;

        .makeAnOrder__up__section {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 28px;

            &__text {
                font-weight: 500;
                font-size: 20px;
                line-height: 26px;
                letter-spacing: 0.01em;
            }

            &__type {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 5px;
                font-size: 16px;
                width: 100%;
                background: #F5F5F5;
                border: 1px solid #DADADA;
                padding: 5px;

                &__done,
                &__delayed {
                    width: 193px;
                    height: 40px;
                    background: #ffffff;
                    border: 1px solid #9F9F9F;
                    padding: 8px 0 13px;
                    text-align: center;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    cursor: pointer;
                }
            }


            &__input {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 28px;
                margin-top: 25px;
                padding: 50px;
                border-bottom: 1px solid  #D9D9D9;

                &__name,
                &__email,
                &__phoneNumber {

                    &>input {
                        width: 532px;
                        // height: 50px;
                        padding: 13px 28px 15px;
                    }

                    &>p {
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 18px;

                        &>span {
                            color: #FF0000;
                        }
                    }
                }

                &__deliveryMethods {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    margin-left: 70px;

                    &__text {
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 18px;
                    }

                    &__button {
                        display: flex;
                        gap: 5px;

                        &__btn {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 19px;
                            color: #C5C5C5;
                            border: 1px solid #DDDDDD;
                            padding: 11px 26px;
                            cursor: pointer;
                            transition: 0.6s;

                            &:hover {
                                border: 1px solid #000000;
                                color: #000000;
                            }
                        }
                    }
                }

                &__comment {
                    &__text {
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 18px;
                    }
                    &>input {
                        width: 655px;
                        height: 111px;
                    }
                }
            }
        }
    }
}